
<%= @cocktail.name %>

<ul class="list-unstyled"></ul>
@cocktail.doses.each do |dose|
<%= <li>link_to dose.ingredient.name, ingredient_path(dose.ingredient) %> : <%= dose.description %> <%= link_to "<i class='fa fa-close'></i>".html.safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %></li>
<% end %>
</ul>

if @dose.errors.any?
<ul>
  @dose.errors.full_messages.each do |message|
  # à finir
</ul>

<% simple_form_for([@cocktail, @dose]) do |f| %>
<%= f.input :description %>
